<div class="container-fluid px-3 pt-3 pb-1">
  <div class="row mb-2">
    <div class="col-12">
      <h5 class="mb-0"><%= t('customers.edit_customer') %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'form', customer: @customer %>
    </div>
  </div>
</div>
