<article class="page-content">
  <header class="grid">
    <div class="s12 m8">
      <h3><%= t('customers.edit_customer') %></h3>
    </div>
    <div class="s12 m4 right-align">
      <%= link_to @customer, class: 'button secondary' do %>
        <i>visibility</i>
        <span><%= t('common.view') %></span>
      <% end %>
    </div>
  </header>

  <main>
    <%= render 'form', customer: @customer %>
  </main>
</article>
