<%= render AppShellComponent.new do |shell| %>
  <% shell.with_header do %>
    <%= render HeaderComponent.new(title: "New Product") %>
  <% end %>

  <% shell.with_navigation do %>
    <%= render NavigationComponent.new %>
  <% end %>

  <% shell.with_main_content do %>
    <div class="container-fluid px-3 pb-4">
      <div class="row mb-4">
        <div class="col-12">
          <h3>New Product</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <%= render 'form', product: @product %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>